body{
    background-image: url('./img/bg.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100%;
    color: #FFF;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Courier New', Courier, monospace;
}
img{
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}
/* div{
    border: 1px solid black;
} */
a{
    text-decoration: none;
}
button {
    position: fixed;
    top: 90%;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    align-self: center;
    background-color: #fff;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
}
.column {
    float: left;
    width: 33.33%;
    font-size: 30px;
}
.fekete{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    
}
.feher{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    
}
#myCanvas{
    background-image: url('./img/nmm.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 620px;
    width: 650px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 3px solid black;
    border-radius: 2.5%;
    
}
.place{
    margin: auto;
    position: absolute;
    width: 60px;
    height: 60px;
}
#a7{
    top: 25px;
    left: 40px;
}
#d7{
    top: 25px;
    left: 295px;
}
#g7{
    top: 25px;
    left: 550px;
}
#b6{
    top: 105px;
    left: 125px;
}
#d6{
    top: 105px;
    left: 295px;
}
#f6{
    top: 105px;
    left: 475px;
}
#c5{
    top: 180px;
    left: 200px;
}
#d5{
    top: 180px;
    left: 300px;
}
#e5{
    top: 180px;
    left: 400px;
}
#a4{
    top: 285px;
    left: 40px;
}
#b4{
    top: 285px;
    left: 120px;
}
#c4{
    top: 285px;
    left: 200px;
}
#e4{
    top: 285px;
    left: 400px;
}
#f4{
    top: 285px;
    left: 475px;
}
#g4{
    top: 285px;
    left: 550px;
}
#c3{
    top: 380px;
    left: 200px;
}
#d3{
    top: 380px;
    left: 300px;
}
#e3{
    top: 380px;
    left: 400px;
}
#b2{
    top: 470px;
    left: 125px;
}
#d2{
    top: 470px;
    left: 295px;
}
#f2{
    top: 470px;
    left: 475px;
}
#a1{
    top: 540px;
    left: 40px;
}
#d1{
    top: 540px;
    left: 295px;    
}
#g1{
    top: 540px;
    left: 550px;
}